const environment = {};

environment['MODE_DEBUG']             = false;
environment['DATABASE_HOST']          = 'localhost';
environment['DATABASE_NAME']          = 'millix_bridge';
environment['DATABASE_AUTH_USER']     = 'root';
environment['DATABASE_PORT']          = 3306;
environment['DATABASE_AUTH_PASSWORD'] = 'your_root_password';
environment['DATABASE_DIALECT']       = 'mysql';
environment['DATABASE_ENABLE_LOGS']   = false;

environment['MODE_TEST_NETWORK']             = false;
environment['NODE_PORT_API']                 = 5500;
environment['NODE_HOST']                     = 'localhost';
environment['NODE_SHARD_ID']                 = 'qGuUgMMVmaCvqrvoWG6zARjkrujGMpzJmpNhBgz1y3RjBG7ZR';
environment['NODE_DATA_FOLDER_MAIN_NETWORK'] = './millix';
environment['NODE_DATA_FOLDER_TEST_NETWORK'] = './millix-testnet';

environment['BRIDGE_ETHEREUM_PROVIDER']                = undefined;
environment['BRIDGE_ETHEREUM_CONTRACT_WRAPPED_MILLIX'] = undefined;
environment['BRIDGE_ETHEREUM_CONTRACT_CREATE_BLOCK']   = undefined;
environment['BRIDGE_ETHEREUM_CONTRACT_OWNER_ADDRESS']  = undefined;
environment['BRIDGE_ETHEREUM_WALLET_PRIVATE_KEY']      = undefined;
environment['BRIDGE_MILLIX_WALLET_KEY_IDENTIFIER']     = undefined;

export default environment;
