const environment = {};

environment['MODE_DEBUG']             = false;
environment['DATABASE_HOST']          = 'localhost';
environment['DATABASE_NAME']          = 'millix_bridge';
environment['DATABASE_AUTH_USER']     = 'root';
environment['DATABASE_AUTH_PASSWORD'] = 'password';

export default environment;
